section.tokenomics
  h2.title.tokenomics__title
    span tokenomics

  .tokenomics__wrap
    .tokenomics__allocation
      h4.tokenomics__allocation-title Allocation Of Token
      p.tokenomics__allocation-text The main token for OASIS is called $OASIS, our utility token tied to and created on the [BEP-20] blockchain, whereas each NFT character will be mined under [BEP-721]. $OASIS is the governing token required to play games, purchase equipment, participate and OLá, purchase lands and much more.
      p.tokenomics__allocation-text $OASIS tokens will be distributed accordingly, as shown in the following chart:

    img(src="images/tokenomics.png", alt="diagram").tokenomics__graph
