extends /layout/app

block content
  include welcome/welcome
  include about/about
  include advantages/advantages
  include gallery/gallery
  include join/join
  include roadmap/roadmap
  include tokenomics/tokenomics
  include team/team
  include partners/partners
