-
  var items =
    [
      {
        name: 'Web design',
        text: 'The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.',
        img: 'images/join-icons/monitor.png'
      },
      {
        name: 'Mobile apps',
        text: 'The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.',
        img: 'images/join-icons/smart.png'
      },
      {
        name: 'PHOTOGRAPHY',
        text: 'The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.',
        img: 'images/join-icons/photo.png'
      },
      {
        name: 'marketing',
        text: 'The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.',
        img: 'images/join-icons/loud.png'
      },
      {
        name: 'Web design',
        text: 'The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.',
        img: 'images/join-icons/monitor.png'
      },
      {
        name: 'Mobile apps',
        text: 'The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.',
        img: 'images/join-icons/smart.png'
      },
      {
        name: 'Fast Farming',
        text: 'Cheap & NFTs & Tokens',
        img: 'images/join-icons/nft.png'
      },
      {
        name: 'marketing',
        text: 'The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.',
        img: 'images/join-icons/loud.png'
      },
    ]



section.join
  h2.title.join__title
    | why
    span join us?

  p.join__subtitle Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

  .join__items
    each item in items
      .join__item
        .join__item-img
          img(src=item.img, alt=item.name)
        .join__item-title=item.name
        .join__item-text=item.text
